
.btn{
    width: 280px;
    height: 42px;
    background-color: #FFBC42;
    color:black;
    font-size: 20px;
    font-weight: 200;
    
    
    border-style: none;
    border-radius: 30px;
 
    
}
.btn:hover{
 background-color:#041633;
 border: 1px solid white;
 color: white;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.2s ease ;
}

@media(width < 1000px) {
    .btn{
        max-width:  200px;
        height: 34px;
       
        
        font-size: 18px;
        
       
        
      
        
    }
}