/* From Uiverse.io by anniekoop */ 
.input {
    font-family: "SF Pro";
    min-width: 180px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
   
  }

  .formu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;



    textarea{
        margin-bottom: 20px;
    }
    
    h2{
        color: #FFBC42;
    }
  }

  
  .input:focus {
    box-shadow: 5.5px 7px 0 black;
  }
  
  @media(width > 1200px) {
    .input{
        width: 460px;
        text-align: center;
        font-size: 20px;
        
    }
  }